{extend name='base'}
{block name="css"}

{/block}
{block name='content'}
<div class="swiper-container swiper-container-vertical">
    <div class="swiper-wrapper">

        <div class="swiper-slide page1" style="height: 959px; margin-bottom: 30px;background-image:url(/public/static/images/int.gif);">
            <div class="text">
                xxxxx信息技术股份有限公司<br />
                安装页面
            </div>
            <div class="text">
                    <a class="button" href="step1">立即安装</a>
            </div>
        </div>
   
    </div>
</div>
{/block}
