<!DOCTYPE html>
<html>
<head>
    <title>xxxxx信息技术股份有限公司后台开发框架</title>
    <link rel="stylesheet" href="/public/static/css/swiper.css">
    <link rel="stylesheet" href="/public/static/css/install/home.css">
    <meta name="keywords" content="后台开发框架,史上最美后台开发框架" />
    <meta name="description" content="php,极速后台开发框架,史上最美后台开发框架" />
</head>
<body>
<div class="swiper-container swiper-container-vertical">
    <div class="swiper-wrapper">

        <div class="swiper-slide step1" style="height: 959px; margin-bottom: 30px;background-image:url(/public/static/images/int.gif);">
            <div class="text">
                提示信息：<br />
                <div class="info" id="info">
                    安装进度：0%
                </div>
            </div>
            <div class="text">
                <a class="button" href="#" onclick="next()" >下一步</a>
            </div>
        </div>

    </div>
</div>
</body>
<script src="/public/static/js/jquery.min.js"></script>
<script src="/public/static/js/swiper.js"></script>
<script src="/public/static/module/layer/layer.js"></script>
</html>
