{include file="public/head"}
    <body>
    <div class="x-body" >
        {if $add_role eq 1}
        <button class="layui-btn layui-btn-small " onclick="x_admin_show('添加角色','addRole.html',500,300)"></i>添加角色</button>
        {/if}
        <button onclick="javascript:location.reload()" class="layui-btn layui-btn-small">刷新</button>
        <span class="x-right" style="line-height:40px">共有数据:{$role|count}条</span>

    <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>角色名称</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
                          {volist name='role' id='vo'}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>&nbsp;{$vo.level-1|str_repeat='&nbsp;丨---',###}{$vo.title}</td>
                                <td>
                                    {php}
                                    if($vo['status']==1)
                                    {echo '<span style=color:green>启用</span>'; }else{
                                    echo '<span style=color:red>禁用</span>';
                                    }
                                    {/php}
                                </td>
                                <td>
                                    {if $auth_role eq 1}
                                    <button class="layui-btn layui-btn-mini" onclick="x_admin_show('用户授权','showAuth.html?id={$vo.id}',500,350)">授权</button>
                                    {/if}
                                    {if $edit_role eq 1}
                                    <button class="layui-btn layui-btn-mini" onclick="x_admin_show('角色编辑','showRoleEdit.html?id={$vo.id}',500,300)">编辑</button>
                                    {/if}
                                    {if $del_role eq 1}
                                    <button onclick="delRole(this,{$vo.id})" class="layui-btn layui-btn-mini layui-btn-danger">删除</button>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
        </tbody>
      </table>
	      <div class="page">
	        <div>
	        
	        </div>
	      </div>
    </div>
</body>
<script>
    function addRole(){
        var role_name = $("#role_name").val();
        if(role_name.length==0){
            layer.msg('角色名不能为空',{icon:2});
            return false;
        }
        if(role_name.length<2){
            layer.msg('角色名过短',{icon:2});
            return false;
        }
        $.ajax({
            url: 'addRole',
            type: 'post',
            dataType: 'json',
            data: {role_name: role_name},
        })
            .done(function(data) {
                console.log(data);
                if(data.code==1){
                    layer.msg(data.msg,{icon:1,offset:"t",time:0},function(){
                        location.reload();
                    });
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            })
    }
    function delRole(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url: 'delRole',
                type: 'post',
                dataType: 'json',
                data: {id:id},
            })
                .done(function(data){
                    if(data.code==1){
                        layer.msg(data.msg,{icon:1,offset:"t",time:500},function(){
                            location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:2,offset:"t"});
                    }
                })
        })
    }

</script>
{include file="public/foot"}